<!DOCTYPE html>
<html ng-app="appp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Reservation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="reserv.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div ng-controller="reservController">
        <div id="holder" >
            <div ng-repeat="reserv in reservs ">
                <div class="item">
                    <div class="room">{{reserv.room.number}}</div>
                    <div class="info">
                        User:<span>{{reserv.user.name}} {{reserv.user.secondName}}</span><br>
                        Room type:<span>{{reserv.room.type}}</span><br>
                        Reserv from:<span>{{reserv.checkIn}}</span> to <span>{{reserv.checkOut}}</span><br><br>
                        <!--<button ng-click="update(room)">update</button>-->


                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>