body{
	width: 900px;
}
#menu{
	float: left;
}
#menu ul{
	margin: 5px;
	list-style:none;
	width:180px;
	float: left;
	padding: 0;
}

#menu ul li{
	margin-bottom:2px;
	display:block;
	height: 40px;
	background: rgb(63,76,107);
	line-height: 40px;
	text-align: center;
}

#addHolder{
	float: left;
	margin: 5px;
	margin-left: 30px;
}

.addAction{
	width:150px;
	height: 30px;
	margin:5px;
	background: rgb(63,76,107);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	line-height:30px;
	color: white;
	text-align: center;
}

.addRoom{
	width: 300px;
	margin:5px;
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

#holder{
	width:500px;
	height:600px;
	margin:5px;
	box-shadow:0 4px 10px rgba(0,0,0,.7);
	overflow-y:scroll;
}

#holder::-webkit-scrollbar {
    width: 10px;
}
 
#holder::-webkit-scrollbar-thumb {
	background: rgb(63,76,107);
}

.item{
	width:480px;
	margin:0 5px 1px;
}
.room{
	height:40px;
	border-bottom:1px solid rgba(0,0,0,.3);
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
	font-size: 1.9em;
	line-height:40px;
	color: white;
    text-shadow: 0 0 4px black;
	background: rgb(63,76,107);
	background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%);
	background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 );
	cursor:pointer;
}

.info{
	width:480px;
	height:0px;
	margin-bottom:2px;
	border-bottom:2px solid rgba(0,0,0,.3);
	opacity:0;
	transition:height 0.5s;
	overflow: hidden;
}


.displ{
	 height:85px;
	 opacity:1;
}
.displa{
	height:150px;
}

a{
	text-decoration: none;
	color:black;
}

.table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;

	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
	color:#D5DDE5;;
	background:#1b1e24;
	border-bottom:4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size:23px;
	font-weight: 100;
	padding:24px;
	text-align:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align:middle;
}

th:first-child {
	border-top-left-radius:3px;
}

th:last-child {
	 border-top-right-radius:3px;
	 border-right:none;
 }
th:nth-child(5) {
	border-right:none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color:#666B85;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
	background: rgb(63,76,107);
	color:#FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

tr:first-child {
	border-top:none;
}

tr:last-child {
	border-bottom:none;
}

tr:nth-child(odd) td {
	background:#EBEBEB;
}

tr:nth-child(odd):hover td {
	background: rgb(63,76,107);
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}

td {
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}


td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

