<!DOCTYPE html>
<html ng-app="appp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="users.js"></script>
    <link href="users.css" type="text/css" rel="stylesheet">
    <link href="table.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div ng-controller="userController">

        <button ng-click="usersNow()">Now</button>
        <button ng-click="usersLastYear()">Last year</button>
        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Second name</th>
                <th class="text-center">Cellphone</th>
            </tr>
            </thead>

            <tr ng-repeat="user in users">
                <td class="text-center">{{user.name}}</td>
                <td class="text-center">{{user.secondName}}</td>
                <td class="text-center">{{user.cellphone}}</td>

            </tr>




        </table>


    </div>
</body>
</html>